= content_tag_for :div, device do
  %ul.device-attributes
    %li
      %strong Name:
      =h device.name
    %li
      %strong Location:
      =h device.location
    %li
      %strong Options:
      %ol
        - device.options.each do |option|
          = render :partial => 'options/option', :locals => {:option => option}

  %ul.device-actions
    %li
      = link_to 'Show', device
    %li
      = link_to 'Edit', edit_device_path(device)
    %li
      = link_to 'Destroy', device, :confirm => 'Are you sure?', :method => :delete