= form.inputs do
  = form.input :name, :label => 'Name'
  = form.input :location, :label => 'Location'
  = form.input :device_type, :label => 'DeviceTypes'#, :collection => ['Beleuchtung']
  = form.input :power, :label => 'Power'
= form.buttons :commit
