= form.inputs do
  = form.input :name, :label => 'Name'
  = form.input :location, :label => 'Location'
  = form.input :type, :label => 'Type'
  %ul#options
    %li Options:
    = form.semantic_fields_for :options do |option|
      = render :partial => 'options/form', :locals => {:form => option}
= form.buttons :commit
