%h2 Editing device
= semantic_form_for @device do |form|
  = render :partial => "form", :locals => {:form => form}
%ul.device-actions
  %li= link_to 'Show', @device
  %li= link_to 'Back', devices_path
  %li= link_to 'Destroy', @device, :confirm => 'Are you sure?', :method => :delete